<model>
    <name>Reefscape Field</name>
    <version>1.0</version>
    <sdf version="1.8">ReefscapeField.sdf</sdf>
    <author>
        <name>RoboEagles 4828</name>
        <email>roboeagles4828@gmail.com</email>
    </author>
    <description>2025 FIRST Robotics Reefscape Field</description>
</model>