<?xml version="1.0"?>
<robot name="phyto" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find phyto_description)/urdf/control/drive.xacro" />
  <xacro:include filename="$(find phyto_description)/urdf/util/macros.xacro" />
  <xacro:include filename="$(find phyto_description)/urdf/util/materials.xacro" />
  <xacro:include filename="$(find phyto_description)/urdf/parts/swerve_chassis.xacro" />
  <xacro:include filename="$(find phyto_description)/urdf/parts/swerve_axle.xacro" />

  <xacro:property name="axle_pos" value="2" />

  <link name="base_link"></link>

  <xacro:square_chassis prefix="d" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:square_chassis>

  <xacro:swerve_axle prefix="front_left" parent="base_link">
    <origin xyz=" -.25 .25 .05" rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="front_right" parent="base_link">
    <origin xyz=" .25 -.25 .05" rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="back_left" parent="base_link">
    <origin xyz=" .25 .25 .05" rpy="0 0 0" />
  </xacro:swerve_axle>
  <xacro:swerve_axle prefix="back_right" parent="base_link">
    <origin xyz=" -.25 -.25 .05" rpy="0 0 0" />
  </xacro:swerve_axle>
</robot> 